<html>
    <body>
        <div class="container">
            <div class="history" style="margin-bottom: 100px;">
              {% for message in messages %}
                  <div>{{ message.message_time }}: {{ message.message_text }}</div>
              {% endfor %}
            </div>
            <div class="input">
                <form action="{{ url_for('index') }}" method="POST">
                    <input type="text" name="msg">
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </body>
</html>
